<nav class="navbar navbar-expand-sm bg-warning navbar-light fixed-top ">
  <div class="container">
    <a href="" class="navbar-brand">
      <img src="../../assets/images/Logo.png" alt="Logo" class="img-fluid" width="100px" height="100px"><h1>DEMO</h1></a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">Contacts</a>
        </li>
        
        <li class="nav-item">
          <a href="#shop" class="nav-link">Online Shop</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control-lg me-2" [formControl]="searchControl" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

