<footer  class="py-5 my-5 border-top">
  <div class="container">

    <div class="row text-center">  

      <div class="col">
        <img src="../../assets/images/Logo.png" height="50" width="50" alt="">
      </div>

      <div class="col">
        <h5>NAVIGATE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contacts</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Online Shop</a></li>     
        </ul>
      </div>
      <div class="col">
        <h5>CONTACT</h5>
        <ul class="nav flex-column">
          <li><address class="nav-link p-0 text-muted"><i class="fas fa-address-card"></i> Georg Jonson</address></li>
          <li><address class="nav-link p-0 text-muted"><i class="fas fa-map-marker-alt"></i> 6900 Bregenz</address></li>
          <li><address class="nav-link p-0 text-muted"><i class="fas fa-phone-alt"></i> +43 666 777 84</address></li>
          <li><address  class="nav-link p-0 text-muted"><i class="fas fa-envelope-open"></i> email@example.com</address></li>
          <li><address class="nav-link p-0 text-muted"><i class="fas fa-phone-alt"></i> 05 65456 546(1)</address></li>
        </ul>
      </div>
    </div>    
  </div>
  
</footer>
