img {
  border-radius: 100%;
  padding-bottom: 20px;
  height: 200px;
  width: 200px;    
}
*{
  font-family: 'Ubuntu', sans-serif;
}
h5{
  font-weight: bold;
}

.card{
  border-radius: 5%;
  max-width:80vmin;
  min-width: 300px;
  height: 400px;
  justify-content:space-evenly;
  transition: transform 500ms ease;
  font-weight: bold;
}
.card-body{
  color:white;
  
}

.card:hover{
  transform: scale(1.04);
  background: black;
  letter-spacing: 0.5px;
 
  
}


