<div class="card text-center  bg-dark card-dark ">
  <a class="nav-link p-0" href="https://www.towa-digital.com/">
    <img src="{{image}}" class="card-img-top" alt="image">
    <div class="card-body text-warning">
      <h3 class="text">
        {{firstName}} {{lastName}}
      </h3>
      <p id="email" >
        {{email}} <br> 
      </p>
      <p class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, culpa.
      </p>
        
      
    </div>
  </a>
  </div>

